span {
    font-family:
/*
 * Avoid listing any nonfree fonts, please.
 * MPlus is special in that no mincho-/serif-type font option is available.
 *
 * I prefer mincho.  If you agree, you probably wouldn't have downloaded the
 * font below, as I don't believe it currently comes preinstalled anywhere.
 */
    "M PLUS 2 Medium", "M PLUS 2",

    "Kochi Mincho",
    "TakaoExMincho",
    "IPAMincho", "IPA Mincho",
    "IPAexMincho", "IPAex Mincho",
    "Source Han Serif JP",
    "Noto Serif CJK JP",
    "Hanazono Mincho",
    "Sazanami Mincho",
    serif;
}

table, tr, td {
    border-width:  1px;
    border-style:  outset;
}
img {
    vertical-align:  bottom;
}

p, li {
    white-space :  pre-wrap;
}

td.n, tr.n { /* numeric data */
    text-align  :  right;
}
td.t, tr.t { /* titular data */
    text-align  :  center;
}

input {
    width:  95%;
}
span {
    font-size:  32px;
}
